body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 15px;
}
h1 {
  font-size: 70px;
  color: #343a40;
  margin: 50px auto 0 auto;
  font-family: "Great Vibes", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #343a40;
  font-weight: bolder;
  padding-bottom: 10px;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #11999e;
  font-weight: bolder;
}
p {
  line-height: 2;
}
a {
  color: #11999e;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #343a40;
}
.copyright {
  color: #11999e;
  font-size: 11px;
  padding: 15px 0;
}
hr {
  border: dotted #b2b1b9 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.top-container {
  background-color: #c7ffd8;
  padding: 1rem;
  height: 90vh;
}

.middle-container {
  margin: 90px 0;
}
.bottom-container {
  background-color: #c7ffd8;
  padding: 40px 0 14px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.nav-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5vh;
  margin: 1rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
.top-cloud {
  width: 20rem;
  height: 10rem;
  position: absolute;
  right: 3rem;
  filter: brightness(95%);
}
.bottom-cloud {
  width: 20rem;
  height: 10rem;
  position: absolute;
  top: 15rem;
  left: 3rem;
  filter: brightness(95%);
}
@media screen and (max-width: 768px) {
  .mobile{
    position: inherit;
  }
}

.hill {
  margin: 1rem;
  height: 25%;
  width: 60%;
}
.me {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 70%;
}
.develop-pic {
  width: 25%;
  object-fit: cover;
  border-radius: 70%;
  float: right;
  margin-left: 30px;
}
.design-pic {
  width: 25%;
  object-fit: cover;
  border-radius: 70%;
  float: left;
  margin-right: 30px;
}
.web-designer {
  width: 30%;
  margin: auto;
}
.contact-msg {
  width: 30%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #c7ffd8;
  background-image: -webkit-linear-gradient(top, #c7ffd8, #2bc4ad);
  background-image: -moz-linear-gradient(top, #c7ffd8, #2bc4ad);
  background-image: -ms-linear-gradient(top, #c7ffd8, #2bc4ad);
  background-image: -o-linear-gradient(top, #c7ffd8, #2bc4ad);
  background-image: linear-gradient(to bottom, #c7ffd8, #2bc4ad);
  text-decoration: none;
}

.top-pic {
  width: 6%;
  object-fit: cover;
  border-radius: 70%;
}
#demobox {
  background-color: #eeeeee;
  padding: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
